.downloadPhoto {
  border-radius: 25px;
  h2 {
    color: #666666;
    text-align: center;
    margin-bottom: 15px;
    font-family: "MuseoSans-900";
  }
  p {
    color: #666666;
    font-size: 14px;
    margin-bottom: 30px;
  }
}


  #dialog-content-2 .downloadPhoto {
    p {
      color: #666666;
      font-size: 14px;
      margin-bottom: 0;
    }
  }

