form {
  input[type="text"] {
    padding: 8px 12px;
    border-radius: 25px !important;
    width: 100%;
    color: #a1a1a1;
    font-family: "MuseoSans-500";
    border: 1px solid #a1a1a1;
    overflow: hidden;
    margin-bottom: 15px;
    font-size: 14px;
    &::placeholder {
      color: #a1a1a1;
      text-transform: uppercase;
    }
  }
  .law {
    p {
      margin: 0;
      font-size: 14px;
      strong {
        margin: 0;
      }
    }
  }
  small {
    font-size: 12px;
    font-family: "MuseoSans-100";
    line-height: 16px;
  }
  button.green-btn {
    padding: 8px 30px;
  }
}
